@font-face {
	font-family: 'u-icon';
	src: url(./../images/product-overview-u-icon.eot);
	src: url(./../images/product-overview-u-icon.eot#iefix) format('embedded-opentype'),
	url(./../images/product-overview-u-icon.woff2) format('woff2'),
	url(./../images/product-overview-u-icon.woff) format('woff'),
	url(./../images/product-overview-u-icon.ttf) format('truetype'),
	url(./../images/product-overview-u-icon.svg) format('svg');
	font-weight: normal;
	font-style: normal;
}

.u-icon {
	font-family: 'u-icon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	display: inline-block;
	vertical-align: middle;
	font-size: 16px;
}

.u-icon-add:before {
	content: "\EA01"
}

.u-icon-cancel:before {
	content: "\EA02"
}

.u-icon-confirm:before {
	content: "\EA03"
}

.u-icon-date:before {
	content: "\EA04"
}

.u-icon-download:before {
	content: "\EA05"
}

.u-icon-edit:before {
	content: "\EA06"
}

.u-icon-heart:before {
	content: "\EA07"
}

.u-icon-help:before {
	content: "\EA08"
}

.u-icon-home:before {
	content: "\EA09"
}

.u-icon-infomation:before {
	content: "\EA0A"
}

.u-icon-menu:before {
	content: "\EA0B"
}

.u-icon-minus:before {
	content: "\EA0C"
}

.u-icon-purchase:before {
	content: "\EA0D"
}

.u-icon-refresh:before {
	content: "\EA0E"
}

.u-icon-search:before {
	content: "\EA0F"
}

.u-icon-star-outline:before {
	content: "\EA10"
}

.u-icon-star:before {
	content: "\EA11"
}

.u-icon-visible:before {
	content: "\EA12"
}

.u-icon-double-down:before {
	content: "\EA13"
}

.u-icon-double-left:before {
	content: "\EA14"
}

.u-icon-double-right:before {
	content: "\EA15"
}

.u-icon-double-up:before {
	content: "\EA16"
}

.u-icon-down:before {
	content: "\EA17"
}

.u-icon-left:before {
	content: "\EA18"
}

.u-icon-more:before {
	content: "\EA19"
}

.u-icon-play:before {
	content: "\EA1A"
}

.u-icon-right:before {
	content: "\EA1B"
}

.u-icon-triangle-down:before {
	content: "\EA1C"
}

.u-icon-up:before {
	content: "\EA1D"
}
.v6-link {
  color: #526ecc;
  cursor: pointer;
  transition: .2s;
}
.v6-link:hover {
  text-decoration: underline;
}
.v6-link:active {
  color: #344899;
}
.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}
.v6-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -8px;
  margin-right: -8px;
}
.v6-col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}
@media (max-width: 1439px) {
  .v6-col-lg {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }
}
@media (max-width: 1279px) {
  .v6-col-md {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }
}
@media (max-width: 979px) {
  .v6-col-sm {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }
}
@media (max-width: 767px) {
  .v6-col-xs {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }
}
.v6-col,
[class^=v6-col-] {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-left: 8px;
  padding-right: 8px;
}
.v6-col-1 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 4.16666667%;
  flex: 0 0 4.16666667%;
  max-width: 4.16666667%;
}
@media (max-width: 1439px) {
  .v6-col-lg-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 4.16666667%;
    flex: 0 0 4.16666667%;
    max-width: 4.16666667%;
  }
}
@media (max-width: 1279px) {
  .v6-col-md-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 4.16666667%;
    flex: 0 0 4.16666667%;
    max-width: 4.16666667%;
  }
}
@media (max-width: 979px) {
  .v6-col-sm-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 4.16666667%;
    flex: 0 0 4.16666667%;
    max-width: 4.16666667%;
  }
}
@media (max-width: 767px) {
  .v6-col-xs-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 4.16666667%;
    flex: 0 0 4.16666667%;
    max-width: 4.16666667%;
  }
}
.v6-col-2 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 8.33333333%;
  flex: 0 0 8.33333333%;
  max-width: 8.33333333%;
}
@media (max-width: 1439px) {
  .v6-col-lg-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.33333333%;
    flex: 0 0 8.33333333%;
    max-width: 8.33333333%;
  }
}
@media (max-width: 1279px) {
  .v6-col-md-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.33333333%;
    flex: 0 0 8.33333333%;
    max-width: 8.33333333%;
  }
}
@media (max-width: 979px) {
  .v6-col-sm-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.33333333%;
    flex: 0 0 8.33333333%;
    max-width: 8.33333333%;
  }
}
@media (max-width: 767px) {
  .v6-col-xs-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.33333333%;
    flex: 0 0 8.33333333%;
    max-width: 8.33333333%;
  }
}
.v6-col-3 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 12.5%;
  flex: 0 0 12.5%;
  max-width: 12.5%;
}
@media (max-width: 1439px) {
  .v6-col-lg-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 12.5%;
    flex: 0 0 12.5%;
    max-width: 12.5%;
  }
}
@media (max-width: 1279px) {
  .v6-col-md-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 12.5%;
    flex: 0 0 12.5%;
    max-width: 12.5%;
  }
}
@media (max-width: 979px) {
  .v6-col-sm-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 12.5%;
    flex: 0 0 12.5%;
    max-width: 12.5%;
  }
}
@media (max-width: 767px) {
  .v6-col-xs-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 12.5%;
    flex: 0 0 12.5%;
    max-width: 12.5%;
  }
}
.v6-col-4 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 16.66666667%;
  flex: 0 0 16.66666667%;
  max-width: 16.66666667%;
}
@media (max-width: 1439px) {
  .v6-col-lg-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.66666667%;
    flex: 0 0 16.66666667%;
    max-width: 16.66666667%;
  }
}
@media (max-width: 1279px) {
  .v6-col-md-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.66666667%;
    flex: 0 0 16.66666667%;
    max-width: 16.66666667%;
  }
}
@media (max-width: 979px) {
  .v6-col-sm-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.66666667%;
    flex: 0 0 16.66666667%;
    max-width: 16.66666667%;
  }
}
@media (max-width: 767px) {
  .v6-col-xs-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.66666667%;
    flex: 0 0 16.66666667%;
    max-width: 16.66666667%;
  }
}
.v6-col-5 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 20.83333333%;
  flex: 0 0 20.83333333%;
  max-width: 20.83333333%;
}
@media (max-width: 1439px) {
  .v6-col-lg-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20.83333333%;
    flex: 0 0 20.83333333%;
    max-width: 20.83333333%;
  }
}
@media (max-width: 1279px) {
  .v6-col-md-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20.83333333%;
    flex: 0 0 20.83333333%;
    max-width: 20.83333333%;
  }
}
@media (max-width: 979px) {
  .v6-col-sm-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20.83333333%;
    flex: 0 0 20.83333333%;
    max-width: 20.83333333%;
  }
}
@media (max-width: 767px) {
  .v6-col-xs-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20.83333333%;
    flex: 0 0 20.83333333%;
    max-width: 20.83333333%;
  }
}
.v6-col-6 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}
@media (max-width: 1439px) {
  .v6-col-lg-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
}
@media (max-width: 1279px) {
  .v6-col-md-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
}
@media (max-width: 979px) {
  .v6-col-sm-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
}
@media (max-width: 767px) {
  .v6-col-xs-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
}
.v6-col-7 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 29.16666667%;
  flex: 0 0 29.16666667%;
  max-width: 29.16666667%;
}
@media (max-width: 1439px) {
  .v6-col-lg-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 29.16666667%;
    flex: 0 0 29.16666667%;
    max-width: 29.16666667%;
  }
}
@media (max-width: 1279px) {
  .v6-col-md-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 29.16666667%;
    flex: 0 0 29.16666667%;
    max-width: 29.16666667%;
  }
}
@media (max-width: 979px) {
  .v6-col-sm-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 29.16666667%;
    flex: 0 0 29.16666667%;
    max-width: 29.16666667%;
  }
}
@media (max-width: 767px) {
  .v6-col-xs-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 29.16666667%;
    flex: 0 0 29.16666667%;
    max-width: 29.16666667%;
  }
}
.v6-col-8 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.33333333%;
  flex: 0 0 33.33333333%;
  max-width: 33.33333333%;
}
@media (max-width: 1439px) {
  .v6-col-lg-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33333333%;
    flex: 0 0 33.33333333%;
    max-width: 33.33333333%;
  }
}
@media (max-width: 1279px) {
  .v6-col-md-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33333333%;
    flex: 0 0 33.33333333%;
    max-width: 33.33333333%;
  }
}
@media (max-width: 979px) {
  .v6-col-sm-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33333333%;
    flex: 0 0 33.33333333%;
    max-width: 33.33333333%;
  }
}
@media (max-width: 767px) {
  .v6-col-xs-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33333333%;
    flex: 0 0 33.33333333%;
    max-width: 33.33333333%;
  }
}
.v6-col-9 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 37.5%;
  flex: 0 0 37.5%;
  max-width: 37.5%;
}
@media (max-width: 1439px) {
  .v6-col-lg-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 37.5%;
    flex: 0 0 37.5%;
    max-width: 37.5%;
  }
}
@media (max-width: 1279px) {
  .v6-col-md-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 37.5%;
    flex: 0 0 37.5%;
    max-width: 37.5%;
  }
}
@media (max-width: 979px) {
  .v6-col-sm-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 37.5%;
    flex: 0 0 37.5%;
    max-width: 37.5%;
  }
}
@media (max-width: 767px) {
  .v6-col-xs-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 37.5%;
    flex: 0 0 37.5%;
    max-width: 37.5%;
  }
}
.v6-col-10 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 41.66666667%;
  flex: 0 0 41.66666667%;
  max-width: 41.66666667%;
}
@media (max-width: 1439px) {
  .v6-col-lg-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.66666667%;
    flex: 0 0 41.66666667%;
    max-width: 41.66666667%;
  }
}
@media (max-width: 1279px) {
  .v6-col-md-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.66666667%;
    flex: 0 0 41.66666667%;
    max-width: 41.66666667%;
  }
}
@media (max-width: 979px) {
  .v6-col-sm-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.66666667%;
    flex: 0 0 41.66666667%;
    max-width: 41.66666667%;
  }
}
@media (max-width: 767px) {
  .v6-col-xs-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.66666667%;
    flex: 0 0 41.66666667%;
    max-width: 41.66666667%;
  }
}
.v6-col-11 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 45.83333333%;
  flex: 0 0 45.83333333%;
  max-width: 45.83333333%;
}
@media (max-width: 1439px) {
  .v6-col-lg-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 45.83333333%;
    flex: 0 0 45.83333333%;
    max-width: 45.83333333%;
  }
}
@media (max-width: 1279px) {
  .v6-col-md-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 45.83333333%;
    flex: 0 0 45.83333333%;
    max-width: 45.83333333%;
  }
}
@media (max-width: 979px) {
  .v6-col-sm-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 45.83333333%;
    flex: 0 0 45.83333333%;
    max-width: 45.83333333%;
  }
}
@media (max-width: 767px) {
  .v6-col-xs-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 45.83333333%;
    flex: 0 0 45.83333333%;
    max-width: 45.83333333%;
  }
}
.v6-col-12 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}
@media (max-width: 1439px) {
  .v6-col-lg-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}
@media (max-width: 1279px) {
  .v6-col-md-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}
@media (max-width: 979px) {
  .v6-col-sm-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}
@media (max-width: 767px) {
  .v6-col-xs-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}
.v6-col-13 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 54.16666667%;
  flex: 0 0 54.16666667%;
  max-width: 54.16666667%;
}
@media (max-width: 1439px) {
  .v6-col-lg-13 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 54.16666667%;
    flex: 0 0 54.16666667%;
    max-width: 54.16666667%;
  }
}
@media (max-width: 1279px) {
  .v6-col-md-13 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 54.16666667%;
    flex: 0 0 54.16666667%;
    max-width: 54.16666667%;
  }
}
@media (max-width: 979px) {
  .v6-col-sm-13 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 54.16666667%;
    flex: 0 0 54.16666667%;
    max-width: 54.16666667%;
  }
}
@media (max-width: 767px) {
  .v6-col-xs-13 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 54.16666667%;
    flex: 0 0 54.16666667%;
    max-width: 54.16666667%;
  }
}
.v6-col-14 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 58.33333333%;
  flex: 0 0 58.33333333%;
  max-width: 58.33333333%;
}
@media (max-width: 1439px) {
  .v6-col-lg-14 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.33333333%;
    flex: 0 0 58.33333333%;
    max-width: 58.33333333%;
  }
}
@media (max-width: 1279px) {
  .v6-col-md-14 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.33333333%;
    flex: 0 0 58.33333333%;
    max-width: 58.33333333%;
  }
}
@media (max-width: 979px) {
  .v6-col-sm-14 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.33333333%;
    flex: 0 0 58.33333333%;
    max-width: 58.33333333%;
  }
}
@media (max-width: 767px) {
  .v6-col-xs-14 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.33333333%;
    flex: 0 0 58.33333333%;
    max-width: 58.33333333%;
  }
}
.v6-col-15 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 62.5%;
  flex: 0 0 62.5%;
  max-width: 62.5%;
}
@media (max-width: 1439px) {
  .v6-col-lg-15 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 62.5%;
    flex: 0 0 62.5%;
    max-width: 62.5%;
  }
}
@media (max-width: 1279px) {
  .v6-col-md-15 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 62.5%;
    flex: 0 0 62.5%;
    max-width: 62.5%;
  }
}
@media (max-width: 979px) {
  .v6-col-sm-15 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 62.5%;
    flex: 0 0 62.5%;
    max-width: 62.5%;
  }
}
@media (max-width: 767px) {
  .v6-col-xs-15 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 62.5%;
    flex: 0 0 62.5%;
    max-width: 62.5%;
  }
}
.v6-col-16 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 66.66666667%;
  flex: 0 0 66.66666667%;
  max-width: 66.66666667%;
}
@media (max-width: 1439px) {
  .v6-col-lg-16 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.66666667%;
    flex: 0 0 66.66666667%;
    max-width: 66.66666667%;
  }
}
@media (max-width: 1279px) {
  .v6-col-md-16 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.66666667%;
    flex: 0 0 66.66666667%;
    max-width: 66.66666667%;
  }
}
@media (max-width: 979px) {
  .v6-col-sm-16 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.66666667%;
    flex: 0 0 66.66666667%;
    max-width: 66.66666667%;
  }
}
@media (max-width: 767px) {
  .v6-col-xs-16 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.66666667%;
    flex: 0 0 66.66666667%;
    max-width: 66.66666667%;
  }
}
.v6-col-17 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 70.83333333%;
  flex: 0 0 70.83333333%;
  max-width: 70.83333333%;
}
@media (max-width: 1439px) {
  .v6-col-lg-17 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 70.83333333%;
    flex: 0 0 70.83333333%;
    max-width: 70.83333333%;
  }
}
@media (max-width: 1279px) {
  .v6-col-md-17 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 70.83333333%;
    flex: 0 0 70.83333333%;
    max-width: 70.83333333%;
  }
}
@media (max-width: 979px) {
  .v6-col-sm-17 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 70.83333333%;
    flex: 0 0 70.83333333%;
    max-width: 70.83333333%;
  }
}
@media (max-width: 767px) {
  .v6-col-xs-17 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 70.83333333%;
    flex: 0 0 70.83333333%;
    max-width: 70.83333333%;
  }
}
.v6-col-18 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%;
}
@media (max-width: 1439px) {
  .v6-col-lg-18 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
}
@media (max-width: 1279px) {
  .v6-col-md-18 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
}
@media (max-width: 979px) {
  .v6-col-sm-18 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
}
@media (max-width: 767px) {
  .v6-col-xs-18 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
}
.v6-col-19 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 79.16666667%;
  flex: 0 0 79.16666667%;
  max-width: 79.16666667%;
}
@media (max-width: 1439px) {
  .v6-col-lg-19 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 79.16666667%;
    flex: 0 0 79.16666667%;
    max-width: 79.16666667%;
  }
}
@media (max-width: 1279px) {
  .v6-col-md-19 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 79.16666667%;
    flex: 0 0 79.16666667%;
    max-width: 79.16666667%;
  }
}
@media (max-width: 979px) {
  .v6-col-sm-19 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 79.16666667%;
    flex: 0 0 79.16666667%;
    max-width: 79.16666667%;
  }
}
@media (max-width: 767px) {
  .v6-col-xs-19 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 79.16666667%;
    flex: 0 0 79.16666667%;
    max-width: 79.16666667%;
  }
}
.v6-col-20 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 83.33333333%;
  flex: 0 0 83.33333333%;
  max-width: 83.33333333%;
}
@media (max-width: 1439px) {
  .v6-col-lg-20 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.33333333%;
    flex: 0 0 83.33333333%;
    max-width: 83.33333333%;
  }
}
@media (max-width: 1279px) {
  .v6-col-md-20 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.33333333%;
    flex: 0 0 83.33333333%;
    max-width: 83.33333333%;
  }
}
@media (max-width: 979px) {
  .v6-col-sm-20 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.33333333%;
    flex: 0 0 83.33333333%;
    max-width: 83.33333333%;
  }
}
@media (max-width: 767px) {
  .v6-col-xs-20 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.33333333%;
    flex: 0 0 83.33333333%;
    max-width: 83.33333333%;
  }
}
.v6-col-21 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 87.5%;
  flex: 0 0 87.5%;
  max-width: 87.5%;
}
@media (max-width: 1439px) {
  .v6-col-lg-21 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 87.5%;
    flex: 0 0 87.5%;
    max-width: 87.5%;
  }
}
@media (max-width: 1279px) {
  .v6-col-md-21 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 87.5%;
    flex: 0 0 87.5%;
    max-width: 87.5%;
  }
}
@media (max-width: 979px) {
  .v6-col-sm-21 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 87.5%;
    flex: 0 0 87.5%;
    max-width: 87.5%;
  }
}
@media (max-width: 767px) {
  .v6-col-xs-21 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 87.5%;
    flex: 0 0 87.5%;
    max-width: 87.5%;
  }
}
.v6-col-22 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 91.66666667%;
  flex: 0 0 91.66666667%;
  max-width: 91.66666667%;
}
@media (max-width: 1439px) {
  .v6-col-lg-22 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.66666667%;
    flex: 0 0 91.66666667%;
    max-width: 91.66666667%;
  }
}
@media (max-width: 1279px) {
  .v6-col-md-22 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.66666667%;
    flex: 0 0 91.66666667%;
    max-width: 91.66666667%;
  }
}
@media (max-width: 979px) {
  .v6-col-sm-22 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.66666667%;
    flex: 0 0 91.66666667%;
    max-width: 91.66666667%;
  }
}
@media (max-width: 767px) {
  .v6-col-xs-22 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.66666667%;
    flex: 0 0 91.66666667%;
    max-width: 91.66666667%;
  }
}
.v6-col-23 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 95.83333333%;
  flex: 0 0 95.83333333%;
  max-width: 95.83333333%;
}
@media (max-width: 1439px) {
  .v6-col-lg-23 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 95.83333333%;
    flex: 0 0 95.83333333%;
    max-width: 95.83333333%;
  }
}
@media (max-width: 1279px) {
  .v6-col-md-23 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 95.83333333%;
    flex: 0 0 95.83333333%;
    max-width: 95.83333333%;
  }
}
@media (max-width: 979px) {
  .v6-col-sm-23 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 95.83333333%;
    flex: 0 0 95.83333333%;
    max-width: 95.83333333%;
  }
}
@media (max-width: 767px) {
  .v6-col-xs-23 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 95.83333333%;
    flex: 0 0 95.83333333%;
    max-width: 95.83333333%;
  }
}
.v6-col-24 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}
@media (max-width: 1439px) {
  .v6-col-lg-24 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (max-width: 1279px) {
  .v6-col-md-24 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (max-width: 979px) {
  .v6-col-sm-24 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (max-width: 767px) {
  .v6-col-xs-24 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}
.v6-section {
  padding-top: 56px;
  padding-bottom: 56px;
  background-color: #ffffff;
}
.v6-section.v6-section-merge-spacing {
  padding-top: 0;
}
.v6-section[data-bg="grey"] {
  background: #fafafa;
}
.v6-section[data-bg="blue"] {
  background-image: linear-gradient(215deg, #1a2f5b 0%, #1a2f5b 62%, #020c20 100%, #05122c 100%);
}
.v6-section[data-bg="transparent"] {
  background-color: transparent;
}
.v6-section-head {
  padding-bottom: 32px;
  font-size: 0;
  text-align: center;
}
.v6-section-title {
  display: inline-block;
  position: relative;
  padding-left: 42px;
  padding-right: 42px;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #252b3a;
}
.v6-section-title[data-theme="light"] {
  color: #ffffff;
}
.v6-section-title .v6-section-title-ornament-left,
.v6-section-title .v6-section-title-ornament-right {
  position: absolute;
  top: 50%;
  width: 30px;
  height: 30px;
  margin-top: -15px;
  background-size: cover;
}
.v6-section-title .v6-section-title-ornament-left {
  left: 0;
}
.v6-section-title .v6-section-title-ornament-right {
  right: 0;
}
.v6-section-subtitle {
  font-size: 16px;
  line-height: 20px;
  color: #575d6c;
}
.v6-section-subtitle[data-theme="light"] {
  color: #adb0b8;
}
.v6-section-subtitle em {
  font-style: normal;
  color: #ff9d00;
}
.v6-section-subtitle a {
  color: #526ecc;
  cursor: pointer;
  transition: .2s;
}
.v6-section-subtitle a:hover {
  text-decoration: underline;
}
.v6-section-subtitle a:active {
  color: #344899;
}
.v6-section-title + .v6-section-subtitle {
  margin-top: 16px;
}
.v6-section-head[data-theme="light"] .v6-section-title,
.v6-section-head[data-theme="light"] .v6-section-subtitle {
  color: #ffffff;
}
.v6-section-head[data-theme="light"] .v6-section-title a,
.v6-section-head[data-theme="light"] .v6-section-subtitle a {
  color: #96adfa;
  cursor: pointer;
  transition: .2s;
}
.v6-section-head[data-theme="light"] .v6-section-title a:hover,
.v6-section-head[data-theme="light"] .v6-section-subtitle a:hover {
  text-decoration: underline;
}
.v6-section-head[data-theme="light"] .v6-section-title a:active,
.v6-section-head[data-theme="light"] .v6-section-subtitle a:active {
  color: #344899;
}
.v6-section-explain {
  margin-top: 32px;
  font-size: 12px;
  line-height: 18px;
  color: #adb0b8;
}
.v6-section-explain a[href] {
  color: #526ecc;
  cursor: pointer;
  transition: .2s;
}
.v6-section-explain a[href]:hover {
  text-decoration: underline;
}
.v6-section-explain a[href]:active {
  color: #344899;
}
@media (max-width: 767px) {
  .v6-section {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .v6-section-head {
    padding-bottom: 16px;
  }
  .v6-section-title {
    font-size: 18px;
    padding-left: 27px;
    padding-right: 27px;
  }
  .v6-section-title .v6-section-title-ornament-left,
  .v6-section-title .v6-section-title-ornament-right {
    width: 22px;
    height: 22px;
    margin-top: -11px;
  }
  .v6-section-subtitle {
    font-size: 12px;
  }
  .v6-section-title + .v6-section-subtitle {
    margin-top: 8px;
  }
  .v6-section-explain {
    margin-top: 16px;
  }
}
.v6-container {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 1439px) {
  .v6-container {
    max-width: 1200px;
  }
}
@media (max-width: 1279px) {
  .v6-container {
    padding-left: 3%;
    padding-right: 3%;
  }
}
@media (max-width: 767px) {
  .v6-container {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.v6-btn {
  display: inline-block;
  background: transparent;
  border: solid 1px transparent;
  outline: none;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  transition: .2s;
  height: 32px;
  font-size: 12px;
  line-height: 30px;
  padding-left: 24px;
  padding-right: 24px;
  border-radius: 2px;
}
.v6-btn-small {
  height: 28px;
  font-size: 12px;
  line-height: 26px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 2px;
}
.v6-btn-large {
  height: 40px;
  font-size: 14px;
  line-height: 38px;
  padding-left: 32px;
  padding-right: 32px;
  border-radius: 2px;
}
@media (max-width: 1439px) {
  .v6-btn-lg-small {
    height: 28px;
    font-size: 12px;
    line-height: 26px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 2px;
  }
  .v6-btn-lg-middle {
    height: 32px;
    font-size: 12px;
    line-height: 30px;
    padding-left: 24px;
    padding-right: 24px;
    border-radius: 2px;
  }
  .v6-btn-lg-large {
    height: 40px;
    font-size: 14px;
    line-height: 38px;
    padding-left: 32px;
    padding-right: 32px;
    border-radius: 2px;
  }
}
@media (max-width: 1279px) {
  .v6-btn-md-small {
    height: 28px;
    font-size: 12px;
    line-height: 26px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 2px;
  }
  .v6-btn-md-middle {
    height: 32px;
    font-size: 12px;
    line-height: 30px;
    padding-left: 24px;
    padding-right: 24px;
    border-radius: 2px;
  }
  .v6-btn-md-large {
    height: 40px;
    font-size: 14px;
    line-height: 38px;
    padding-left: 32px;
    padding-right: 32px;
    border-radius: 2px;
  }
}
@media (max-width: 979px) {
  .v6-btn-sm-small {
    height: 28px;
    font-size: 12px;
    line-height: 26px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 2px;
  }
  .v6-btn-sm-middle {
    height: 32px;
    font-size: 12px;
    line-height: 30px;
    padding-left: 24px;
    padding-right: 24px;
    border-radius: 2px;
  }
  .v6-btn-sm-large {
    height: 40px;
    font-size: 14px;
    line-height: 38px;
    padding-left: 32px;
    padding-right: 32px;
    border-radius: 2px;
  }
}
@media (max-width: 767px) {
  .v6-btn-xs-small {
    height: 28px;
    font-size: 12px;
    line-height: 26px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 2px;
  }
  .v6-btn-xs-middle {
    height: 32px;
    font-size: 12px;
    line-height: 30px;
    padding-left: 24px;
    padding-right: 24px;
    border-radius: 2px;
  }
  .v6-btn-xs-large {
    height: 40px;
    font-size: 14px;
    line-height: 38px;
    padding-left: 32px;
    padding-right: 32px;
    border-radius: 2px;
  }
}
.v6-btn-primary {
  background-color: #ff9d00;
  border-color: #ff9d00;
  color: #ffffff;
}
.v6-btn-primary:hover {
  background-color: #d64a52;
  border-color: #d64a52;
  color: #ffffff;
  box-shadow: 0 8px 6px -4px rgba(246, 111, 106, 0.5);
}
.v6-btn-primary[disabled],
.v6-btn-primary.v6-btn-disabled {
  background-color: #f5f5f6;
  border-color: #dfe1e6;
  color: #dfe1e6;
  box-shadow: none;
}
.v6-btn-secondary {
  background-color: #ffffff;
  border-color: #ff9d00;
  color: #ff9d00;
}
.v6-btn-secondary:hover {
  background-color: #ff9d00;
  border-color: #ff9d00;
  color: #ffffff;
}
.v6-btn-secondary[disabled],
.v6-btn-secondary.v6-btn-disabled {
  background-color: #f5f5f6;
  border-color: #dfe1e6;
  color: #dfe1e6;
}
.v6-btn-dark {
  border-color: #8a8e99;
  color: #575d6c;
}
.v6-btn-dark:hover {
  background-color: #ff9d00;
  border-color: #ff9d00;
  color: #ffffff;
}
.v6-btn-dark[disabled],
.v6-btn-dark.v6-btn-disabled {
  background-color: #f5f5f6;
  border-color: #dfe1e6;
  color: #dfe1e6;
}
.v6-btn-light {
  border-color: #ffffff;
  color: #ffffff;
}
.v6-btn-light:hover {
  background-color: #ff9d00;
  border-color: #ff9d00;
  color: #ffffff;
}
.v6-btn-light[disabled],
.v6-btn-light.v6-btn-disabled {
  background-color: #666666;
  border-color: #666666;
  color: #adb0b8;
}
.v6-filter-btn {
  display: inline-block;
  position: relative;
}
.v6-filter-btn input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}
.v6-filter-btn span {
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
  border: solid 1px;
  border-radius: 2px;
  font-size: 12px;
  line-height: 30px;
  transition: .2s;
  color: #252b3a;
  border-color: #adb0b8;
}
.v6-filter-btn input:hover + span,
.v6-filter-btn input:checked + span {
  color: #ff9d00;
  border-color: #ff9d00;
}
.v6-select {
  display: inline-block;
  position: relative;
  min-width: 194px;
  height: 28px;
  padding-right: 28px;
  border: solid 1px #adb0b8;
  border-radius: 2px;
  background: white;
  cursor: pointer;
  transition: .2s;
}
.v6-select:before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: white;
  opacity: 0;
}
.v6-select:after {
  content: " ";
  display: block;
  position: absolute;
  top: 50%;
  right: 10px;
  vertical-align: middle;
  border: solid 4px transparent;
  border-bottom: none;
  border-top: solid 5px #575d6c;
  margin-top: -2px;
}
.v6-select select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
  padding-left: 9px;
  padding-right: 0;
  background: transparent;
  font-size: 14px;
  color: #252b3a;
  line-height: 26px;
  cursor: pointer;
}
.v6-select select::-ms-expand {
  display: none;
}
.v6-select-trigger {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding-left: 9px;
  padding-right: 28px;
  background: rgba(0, 0, 0, 0);
  font-size: 0;
}
.v6-select-trigger span {
  display: inline-block;
  position: relative;
  max-width: 100%;
  height: 27px;
  font-size: 14px;
  line-height: 26px;
  white-space: nowrap;
  color: transparent;
  overflow: hidden;
  opacity: 0;
  transition: .2s;
}
.v6-select-trigger span:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #5e7ce0;
  border-left: solid 1px white;
  border-right: solid 1px white;
  margin-top: -2px;
}
@keyframes select-text-hover-first {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.v6-select-option-list {
  display: none;
  position: absolute;
  z-index: 9;
  top: 100%;
  left: -1px;
  right: -1px;
  max-height: 151px;
  overflow: auto;
  border: solid #5e7ce0;
  border-width: 0 1px 1px 1px;
  border-radius: 0 0 2px 2px;
}
.v6-select-option-list li {
  padding: 4px 9px;
  background: white;
  font-size: 14px;
  line-height: 22px;
  color: #252b3a;
  transition: .2s;
}
.v6-select-option-list li:hover {
  background: #f2f5fc;
  color: #526ecc;
}
.v6-select-option-list li.selected {
  background: #5e7ce0;
  color: #ffffff;
}
.v6-select:not(.open).hover {
  border-color: #575d6c;
}
.v6-select:not(.open).hover .v6-select-trigger span {
  opacity: 1;
}
.v6-select.open {
  border-color: #5e7ce0;
  border-radius: 2px 2px 0 0;
}
.v6-select.open .v6-select-trigger {
  border-bottom: solid 1px #dfe1e6;
}
.v6-select.open .v6-select-option-list {
  display: block;
}
.v6-select-block {
  display: block;
}
.v6-text-title-t1 {
  font-weight: 700;
  font-size: 52px;
  line-height: 65px;
  color: #252b3a;
}
.v6-text-title-t1[data-theme="light"] {
  color: #ffffff;
}
.v6-text-title-t2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  color: #252b3a;
}
.v6-text-title-t2[data-theme="light"] {
  color: #ffffff;
}
.v6-text-title-t3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #252b3a;
}
.v6-text-title-t3[data-theme="light"] {
  color: #ffffff;
}
.v6-text-title-t4 {
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  color: #252b3a;
}
.v6-text-title-t4[data-theme="light"] {
  color: #ffffff;
}
.v6-text-title-t5 {
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  color: #252b3a;
}
.v6-text-title-t5[data-theme="light"] {
  color: #ffffff;
}
.v6-text-title-t6 {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #252b3a;
}
.v6-text-title-t6[data-theme="light"] {
  color: #ffffff;
}
.v6-text-title-t7 {
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #252b3a;
}
.v6-text-title-t7[data-theme="light"] {
  color: #ffffff;
}
.v6-text-subtitle-t1 {
  font-size: 18px;
  line-height: 23px;
  color: #575d6c;
}
.v6-text-subtitle-t1[data-theme="light"] {
  color: #adb0b8;
}
.v6-text-subtitle-t2 {
  font-size: 16px;
  line-height: 20px;
  color: #575d6c;
}
.v6-text-subtitle-t2[data-theme="light"] {
  color: #adb0b8;
}
.v6-text-subtitle-t3 {
  font-size: 14px;
  line-height: 18px;
  color: #575d6c;
}
.v6-text-subtitle-t3[data-theme="light"] {
  color: #adb0b8;
}
.v6-text-body-t1 {
  font-size: 16px;
  line-height: 24px;
  color: #575d6c;
}
.v6-text-body-t1[data-theme="light"] {
  color: #ffffff;
}
.v6-text-body-t2 {
  font-size: 14px;
  line-height: 22px;
  color: #575d6c;
}
.v6-text-body-t2[data-theme="light"] {
  color: #ffffff;
}
.text-caption-t1 {
  font-size: 12px;
  line-height: 18px;
  color: #8a8e99;
}
.text-caption-t1[data-theme="blue"] {
  color: #526ecc;
}
.v6-card {
  background-color: #ffffff;
  border: solid 1px #adb0b8;
}
.v6-card.v6-card-xl {
  padding: 56px 40px;
}
.v6-card.v6-card-l {
  padding: 32px 32px;
}
.v6-card.v6-card-m {
  padding: 24px 24px;
}
.v6-card.v6-card-align-left {
  text-align: left;
}
.v6-card.v6-card-align-center {
  text-align: center;
}
.v6-card-bottom {
  padding-top: 24px;
}
.v6-checkbox {
  display: inline-block;
  position: relative;
  width: 16px;
  height: 16px;
  font-size: 0;
  line-height: 0;
}
.v6-checkbox input[type="checkbox"] {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  opacity: 0;
  cursor: pointer;
}
.v6-checkbox input[type="checkbox"] + span {
  position: absolute;
  z-index: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: solid 1px #8a8e99;
  border-radius: 2px;
  background-color: white;
  transition: .2s;
}
.v6-checkbox input[type="checkbox"] + span i {
  margin: 1px;
  font-size: 12px;
  color: white;
  transform: scale(0);
  transition: .2s;
}
.v6-checkbox input[type="checkbox"]:focus + span,
.v6-checkbox input[type="checkbox"]:hover + span {
  border-color: #5e7ce0;
}
.v6-checkbox input[type="checkbox"]:checked + span {
  border-color: #5e7ce0;
  background-color: #5e7ce0;
}
.v6-checkbox input[type="checkbox"]:checked + span i {
  transform: scale(1);
}
.v6-checkbox input[type="checkbox"]:checked:hover + span {
  border-color: #7693f5;
  background-color: #7693f5;
}
.v6-checkbox input[type="checkbox"]:checked:active + span {
  border-color: #465eb8;
  background-color: #465eb8;
}
.v6-checkbox input[type="checkbox"]:disabled {
  cursor: default;
}
.v6-checkbox input[type="checkbox"]:disabled + span,
.v6-checkbox input[type="checkbox"]:disabled:hover + span {
  border-color: #dfe1e6;
  background-color: #f5f5f6;
}
.v6-checkbox input[type="checkbox"]:disabled + span i,
.v6-checkbox input[type="checkbox"]:disabled:hover + span i {
  color: #dfe1e6;
}
.v6-radio {
  display: inline-block;
  position: relative;
  width: 16px;
  height: 16px;
  font-size: 0;
  line-height: 0;
}
.v6-radio input[type="radio"] {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  opacity: 0;
  cursor: pointer;
}
.v6-radio input[type="radio"] + span {
  position: absolute;
  z-index: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: solid 1px #8a8e99;
  border-radius: 50%;
  background-color: white;
  transition: .2s;
}
.v6-radio input[type="radio"] + span:before {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  margin: 4px;
  background-color: #5e7ce0;
  transform: scale(0);
  transition: .2s;
}
.v6-radio input[type="radio"]:focus + span,
.v6-radio input[type="radio"]:hover + span {
  border-color: #5e7ce0;
}
.v6-radio input[type="radio"]:checked + span {
  border-color: #5e7ce0;
}
.v6-radio input[type="radio"]:checked + span:before {
  content: "";
  transform: scale(1);
}
.v6-radio input[type="radio"]:active + span {
  background-color: #5e7ce0;
}
.v6-radio input[type="radio"]:disabled {
  cursor: default;
}
.v6-radio input[type="radio"]:disabled + span {
  border-color: #dfe1e6;
  background-color: #f5f5f6;
}
.v6-radio input[type="radio"]:disabled + span:before {
  content: "";
  background-color: #dfe1e6;
}
.v6-tab {
  border-bottom: solid 1px #dfe1e6;
  font-size: 0;
  text-align: center;
}
.v6-tab ul {
  margin-bottom: -1px;
}
.v6-tab ul[data-cols="2"] li,
.v6-tab ul[data-cols="3"] li,
.v6-tab ul[data-cols="4"] li {
  width: 25%;
}
.v6-tab ul[data-cols="5"] li {
  width: 20%;
}
.v6-tab ul[data-cols="6"] li {
  width: 16.66666667%;
}
.v6-tab ul[data-cols="7"] li {
  width: 14.28571429%;
}
.v6-tab ul[data-cols="8"] li {
  width: 12.5%;
}
.v6-tab li {
  display: inline-block;
  padding-left: 8px;
  padding-right: 8px;
  vertical-align: bottom;
}
.v6-tab a {
  display: inline-block;
  position: relative;
  padding: 18px 8px;
  font-size: 18px;
  line-height: 24px;
  color: #252b3a;
  cursor: pointer;
  transition: .2s;
}
.v6-tab a:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 0;
  height: 3px;
  margin: auto;
  background-color: #ff9d00;
  transition: .2s;
}
.v6-tab a:hover {
  color: #ff9d00;
}
.v6-tab li.active a {
  font-weight: 700;
}
.v6-tab li.active a:after {
  width: calc(100% - 16px);
}
.v6-tab-text {
  display: block;
  min-width: 48px;
  max-height: 84px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.v6-tab-wrapper {
  padding-top: 24px;
}
.v6-tab-content:not(.active) {
  display: none;
}
.v6-label {
  display: inline-block;
  vertical-align: middle;
  padding-left: 6px;
  padding-right: 6px;
  background-color: #ff9d00;
  border-radius: 2px;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  color: #ffffff;
}
.v6-collapse-container {
  border: solid 1px #adb0b8;
}
.v6-collapse-container + .v6-collapse-container {
  margin-top: -1px;
}
.v6-collapse-trigger {
  display: block;
  position: relative;
  padding: 14px 40px 14px 14px;
  border-bottom: solid 1px #adb0b8;
  margin-bottom: -1px;
  cursor: pointer;
}
.v6-collapse-trigger .u-icon-down {
  position: absolute;
  top: 50%;
  right: 14px;
  margin-top: -6px;
  font-size: 12px;
  color: #8a8e99;
  transition: .35s;
}
.v6-collapse-trigger.expended .u-icon-down {
  transform: rotateX(180deg);
}
.v6-collapse-head-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #252b3a;
}
.v6-collapse:not(.show) {
  display: none;
}
.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  transition: height .35s ease;
}
.product-v6-section .u-icon-down {
  transition: transform 0.5s ease-out;
  font-size: 12px;
}
.product-v6-section .unfold .u-icon-down {
  -ms-transform: rotate(180deg);
  transform: rotateX(180deg);
}
.label-icon {
  padding: 1px 4px;
  font-size: 12px;
  color: #FFFFFF;
  display: inline-block;
  border-radius: 2px;
  margin-left: 12px;
  vertical-align: middle;
}
.label-icon.product-ad-label-hot {
  background: #ff9d00;
}
.label-icon.product-ad-label-sale {
  background: #FA9841;
}
.label-icon.product-ad-label-new {
  background: #5E7CE0;
}
.unfold .u-icon-down {
  -ms-transform: rotate(180deg);
  transform: rotateX(180deg);
}
.v6-section.product-overview-banner {
  position: relative;
  z-index: 1;
  padding-top: 0px;
  padding-bottom: 0;
  color: #fff;
}
.v6-section.product-overview-banner.light-banner .product-overview-banner-title {
  color: #252B3A;
}
.v6-section.product-overview-banner.light-banner .product-overview-banner-summary {
  color: #575D6C;
}
.v6-section.product-overview-banner.light-banner .tab-title-list li span {
  color: #252B3A;
}
.v6-section.product-overview-banner.light-banner .v6-btn-light {
  border-color: #252b3a;
  color: #252b3a;
}
.v6-section.product-overview-banner.light-banner .v6-btn-light:hover {
  background: transparent;
  border-color: #ff9d00;
  color: #ff9d00;
}
.v6-section.product-overview-banner.light-banner .swiper-pagination-bullet i {
  background: rgba(37, 43, 58, 0.2);
}
.v6-section.product-overview-banner.light-banner .tab-content-list {
  background-color: rgba(255, 255, 255, 0.8);
}
.v6-section.product-overview-banner.light-banner .tab-content-list li a + a {
  border-color: rgba(138, 142, 153, 0.4);
}
.v6-section.product-overview-banner.light-banner .tab-content-list li .ad-title {
  color: #252B3A;
}
.v6-section.product-overview-banner.light-banner .tab-content-list li .ad-summary {
  color: #575D6C;
}
.v6-section.product-overview-banner .overview-banner-container {
  height: 580px;
}
.v6-section.product-overview-banner .overview-banner-container[data-col="1"] .swiper-pagination {
  display: none;
}
.v6-section.product-overview-banner .overview-banner-container .swiper-pagination {
  bottom: 154px;
}
.v6-section.product-overview-banner .overview-banner-container.noad {
  height: 450px;
}
.v6-section.product-overview-banner .overview-banner-container.noad .swiper-pagination {
  bottom: 24px;
}
.v6-section.product-overview-banner .overview-banner-container.notab .swiper-pagination {
  bottom: 116px;
}
.v6-section.product-overview-banner .swiper-pagination-bullet {
  padding: 6px;
  margin: 0;
  background: none;
  width: 17px;
  height: 17px;
  font-size: 0;
  opacity: 1;
  transition: 0.2s;
}
.v6-section.product-overview-banner .swiper-pagination-bullet i {
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  border-radius: 3px;
}
.v6-section.product-overview-banner .swiper-pagination-bullet.swiper-pagination-bullet-active {
  width: 44px;
}
.v6-section.product-overview-banner .swiper-pagination-bullet.swiper-pagination-bullet-active i {
  background-color: #ff9d00;
}
.v6-section.product-overview-banner .swiper-wrapper {
  font-size: 0;
}
.v6-section.product-overview-banner .swiper-slide {
  display: inline-block;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.v6-section.product-overview-banner .flex-layout {
  display: flex;
  flex-direction: column;
  height: 350px;
  padding-top: 100px;
  justify-content: center;
  box-sizing: content-box;
}
.v6-section.product-overview-banner .product-overview-banner-title {
  width: 720px;
  font-size: 52px;
  font-weight: bold;
  line-height: 66px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.v6-section.product-overview-banner .product-overview-banner-summary {
  display: -webkit-box;
  width: 560px;
  max-height: 144px;
  margin-top: 12px;
  font-size: 16px;
  line-height: 24px;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
  overflow: hidden;
}
.v6-section.product-overview-banner .btn-group {
  margin-top: 20px;
  font-size: 0;
}
.v6-section.product-overview-banner .btn-group .v6-btn {
  margin-top: 8px;
  margin-right: 16px;
}
.v6-section.product-overview-banner .product-overview-banner-ad {
  position: absolute;
  bottom: 0;
  z-index: 2;
  left: 0;
  right: 0;
  width: 1280px;
  max-width: 100%;
  margin: auto;
}
.v6-section.product-overview-banner .tab-title-list {
  display: flex;
  justify-content: space-around;
}
.v6-section.product-overview-banner .tab-title-list[data-cols="1"] {
  display: none;
}
.v6-section.product-overview-banner .tab-title-list[data-cols="2"] li {
  width: 50%;
}
.v6-section.product-overview-banner .tab-title-list[data-cols="3"] li {
  width: 33.333333%;
}
.v6-section.product-overview-banner .tab-title-list[data-cols="4"] li {
  width: 25%;
}
.v6-section.product-overview-banner .tab-title-list[data-cols="5"] li {
  width: 20%;
}
.v6-section.product-overview-banner .tab-title-list li {
  display: -webkit-box;
  font-size: 0px;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
.v6-section.product-overview-banner .tab-title-list li span {
  font-size: 14px;
  position: relative;
  display: inline-block;
  padding-bottom: 16px;
  margin-left: 8px;
  margin-right: 8px;
  min-width: 48px;
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.v6-section.product-overview-banner .tab-title-list li span::after {
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 3px;
  left: 50%;
  bottom: 0;
  background-color: #ff9d00;
  transition: .3s;
}
.v6-section.product-overview-banner .tab-title-list li.active {
  font-weight: bold;
}
.v6-section.product-overview-banner .tab-title-list li.active span::after {
  width: 100%;
  left: 0;
}
.v6-section.product-overview-banner .tab-title-list li:hover {
  color: #ff9d00;
  transition: .3s;
}
.v6-section.product-overview-banner .tab-content-list {
  padding: 20px 0;
  background-color: rgba(51, 56, 84, 0.7);
}
.v6-section.product-overview-banner .tab-content-list li {
  display: none;
  font-size: 0;
  text-align: center;
}
.v6-section.product-overview-banner .tab-content-list li a {
  display: inline-block;
  padding: 4px 24px;
  font-size: 14px;
}
.v6-section.product-overview-banner .tab-content-list li a:hover .ad-title {
  color: #ff9d00;
  transition: .3s;
}
.v6-section.product-overview-banner .tab-content-list li a + a {
  border-left: 1px solid #8a8e99;
}
.v6-section.product-overview-banner .tab-content-list li .ad-title {
  font-size: 18px;
  font-weight: bold;
  line-height: 22px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.v6-section.product-overview-banner .tab-content-list li .ad-summary {
  margin-top: 4px;
  color: rgba(255, 255, 255, 0.8);
  line-height: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.v6-section.product-overview-banner .tab-content-list li:first-child {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.v6-section.product-overview-banner .tab-content-list [items-count="3"] a {
  width: 33.333333%;
}
.v6-section.product-overview-banner .tab-content-list [items-count="4"] a {
  width: 25%;
}
@media (max-width: 767px) {
  .v6-section.product-overview-banner .overview-banner-container {
    height: auto!important;
  }
  .v6-section.product-overview-banner .overview-banner-container .swiper-pagination {
    bottom: 10px!important;
  }
  .v6-section.product-overview-banner .swiper-pagination-bullet {
    width: 13px;
    height: 13px;
    padding: 5px;
  }
  .v6-section.product-overview-banner .swiper-pagination-bullet.swiper-pagination-bullet-active {
    width: 26px;
  }
  .v6-section.product-overview-banner .flex-layout {
    /*display: block;*/
    padding-top: 0;
    height: 200px;
  }
  .v6-section.product-overview-banner .product-overview-banner-title {
    width: 100%;
    font-size: 24px;
    line-height: 30px;
  }
  .v6-section.product-overview-banner .product-overview-banner-summary {
    width: 100%;
    margin-top: 8px;
    font-size: 12px;
    line-height: 18px;
  }
  .v6-section.product-overview-banner .product-overview-banner-ad {
    display: none;
  }
  .v6-section.product-overview-banner .btn-group {
    margin-top: 8px;
  }
}
.product-overview-nav {
  position: fixed;
  visibility: hidden;
  width: 100%;
  padding: 0;
  top: 41px;
  background-color: #fff;
  box-shadow: 0 1px 4px 0 rgba(128, 132, 145, 0.2);
  z-index: 350;
}
.product-overview-nav .v6-section-body {
  position: relative;
  font-size: 0;
  text-align: center;
  white-space: nowrap;
}
.product-overview-nav .v6-section-body .product-overview-nav-wrapper {
  padding: 0 32px;
}
.product-overview-nav .v6-section-body .product-overview-nav-wrapper .product-overview-nav-list {
  display: block;
  text-align: center;
}
.product-overview-nav .v6-section-body a {
  position: relative;
  display: inline-block;
  width: auto;
  padding: 20px 0;
  color: #252b3a;
  font-size: 14px;
  line-height: 20px;
}
.product-overview-nav .v6-section-body a.active {
  position: relative;
  font-weight: bold;
}
.product-overview-nav .v6-section-body a.active::after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 3px;
  left: 0;
  bottom: 0;
  background-color: #ff9d00;
}
.product-overview-nav .v6-section-body .swiper-button-prev,
.product-overview-nav .v6-section-body .swiper-button-next {
  position: absolute;
  width: 32px;
  height: 100%;
  bottom: 0;
  left: 0;
  background-image: none;
  background-color: #fff;
}
.product-overview-nav .v6-section-body .swiper-button-next {
  left: auto;
  right: 0;
}
.product-overview-nav .v6-section-body .u-icon {
  position: absolute;
  top: 16px;
  left: 5px;
  margin-top: 0;
  font-size: 12px;
  cursor: pointer;
}
.product-overview-nav .v6-section-body .u-icon.swiper-button-disabled {
  opacity: 0;
}
.product-overview-nav .v6-section-body .u-icon.u-icon-right {
  left: auto;
  right: 5px;
}
@media (max-width: 767px) {
  .product-overview-nav {
    display: none;
    top: 44px;
  }
  .product-overview-nav .v6-section-body {
    padding: 0;
  }
}
.product-overview-type .v6-section-title {
  font-weight: bold;
}
.product-overview-type .core-product {
  padding: 32px;
  color: #fff;
  line-height: 22px;
  background-position: center;
  background-size: 100% 100%;
  border-radius: 2px;
}
.product-overview-type .core-product.core-product-light .title {
  color: #252B3A;
}
.product-overview-type .core-product.core-product-light .summary {
  color: #575D6C;
}
.product-overview-type .core-product .title {
  font-size: 18px;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.product-overview-type .core-product .summary {
  max-width: 60%;
  margin: 8px 0 16px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.product-overview-type .tab-title-list-wrapper {
  position: relative;
  padding: 0 32px;
  margin-top: 48px;
  margin-bottom: 24px;
}
.product-overview-type .tab-title-list-wrapper::after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 1px;
  left: 0;
  bottom: 0;
  background-color: #dfe1e6;
}
.product-overview-type .tab-title-list-wrapper .scroll-list-wrapper {
  width: 100%;
  text-align: center;
}
.product-overview-type .tab-title-list-wrapper .u-icon {
  position: absolute;
  font-size: 12px;
  top: 8px;
  left: 5px;
  cursor: pointer;
}
.product-overview-type .tab-title-list-wrapper .u-icon.swiper-button-disabled {
  opacity: 0;
}
.product-overview-type .tab-title-list-wrapper .u-icon-right {
  left: auto;
  right: 5px;
}
.product-overview-type .swiper-button-prev,
.product-overview-type .swiper-button-next {
  position: absolute;
  width: 32px;
  height: 100%;
  bottom: 0;
  left: 0;
  background-image: none;
}
.product-overview-type .swiper-button-next {
  left: auto;
  right: 0;
}
.product-overview-type .tab-title-list {
  position: relative;
  left: 0;
  font-size: 0;
  white-space: nowrap;
  display: inline-block;
}
.product-overview-type .tab-title-list li {
  position: relative;
  display: inline-block;
  width: auto;
  min-width: 48px;
  color: #252b3a;
  font-size: 14px;
  line-height: 18px;
  padding-bottom: 16px;
  cursor: pointer;
}
.product-overview-type .tab-title-list li::after {
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 3px;
  left: 50%;
  bottom: 0;
  background-color: #ff9d00;
  z-index: 3;
  transition: .3s;
}
.product-overview-type .tab-title-list li.active {
  font-weight: bold;
}
.product-overview-type .tab-title-list li.active::after {
  width: 100%;
  left: 0;
}
.product-overview-type .tab-title-list li:hover {
  color: #ff9d00;
}
.product-overview-type .product-overview-type-title,
.product-overview-type .tab-content-list-item {
  display: none;
}
.product-overview-type .product-overview-type-title.show,
.product-overview-type .tab-content-list-item.show {
  display: block;
}
.product-overview-type .product-overview-list {
  display: flex;
  flex-wrap: wrap;
  margin: -8px;
}
.product-overview-type .product-overview-list .product-introduce {
  webkit-box-flex: 0;
  -ms-flex: 0 0 33.33333333%;
  flex: 0 0 33.33333333%;
  max-width: 33.33333333%;
  padding: 8px;
  line-height: 22px;
}
.product-overview-type .product-overview-list .product-introduce a {
  display: block;
  height: 100%;
  padding: 24px;
  border-radius: 2px;
  transition: all 0.3s;
}
.product-overview-type .product-overview-list .product-introduce a h5 .p-i-short {
  margin-left: 5px;
}
.product-overview-type .product-overview-list .product-introduce a:hover {
  box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.1);
  background: #ffffff;
}
.product-overview-type .product-overview-list .product-introduce h5 {
  color: #526ecc;
  font-size: 18px;
  font-weight: bold;
}
.product-overview-type .product-overview-list .product-introduce p {
  max-height: 66px;
  margin-top: 8px;
  color: #575d6c;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
.product-overview-type .product-overview-ad-wrapper {
  padding-top: 32px;
  margin: -8px;
}
.product-overview-type .product-overview-ad-wrapper .product-overview-ad {
  float: left;
  width: 50%;
  padding: 8px;
}
.product-overview-type .product-overview-ad-wrapper .product-overview-ad-card {
  display: block;
  padding: 24px 40px;
  color: #575d6c;
  line-height: 16px;
  background-position: center;
  background-size: 100% 100%;
  border-radius: 2px;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}
.product-overview-type .product-overview-ad-wrapper .product-overview-ad-card h5 {
  /*max-width: 540px;*/
  color: #252b3a;
  font-size: 18px;
  font-weight: bold;
  line-height: 22px;
  transition: .3s;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.product-overview-type .product-overview-ad-wrapper .product-overview-ad-card p {
  /*max-width: 360px;*/
  margin-top: 8px;
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.product-overview-type .product-overview-ad-wrapper .product-overview-ad-card:hover {
  box-shadow: 0 2px 10px 0 rgba(128, 132, 145, 0.2);
  background-size: 105% 105%;
}
.product-overview-type .product-overview-ad-wrapper .product-overview-ad-card:hover h5 {
  color: #ff9d00;
}
@media (max-width: 767px) {
  .product-overview-type .v6-section-title {
    font-size: 18px;
    line-height: 22px;
  }
  .product-overview-type .v6-section-subtitle {
    margin-top: 8px;
    font-size: 12px;
    line-height: 18px;
  }
  .product-overview-type .core-product,
  .product-overview-type .tab-title-list-wrapper,
  .product-overview-type .product-overview-ad-wrapper {
    display: none;
  }
  .product-overview-type .product-introduce-wrapper {
    background: #ffffff;
  }
  .product-overview-type .product-overview-type-title {
    position: relative;
    display: block;
    padding: 15px;
    color: #252b3a;
    line-height: 20px;
    border-radius: 2px;
    border: 1px solid #dfe1e6;
    border-top: none;
  }
  .product-overview-type .product-overview-type-title .u-icon {
    position: absolute;
    top: 18px;
    right: 15px;
    font-size: 12px;
    transition: .3s;
    color: #575D6C;
  }
  .product-overview-type .product-overview-type-title:first-child {
    border-top: 1px solid #dfe1e6;
  }
  .product-overview-type .product-overview-type-title.active .u-icon {
    transform: rotateX(180deg);
  }
  .product-overview-type .product-overview-list {
    padding: 15px;
    margin: 0;
    border-radius: 0 0 2px 2px;
    border: 1px solid #dfe1e6;
    border-top: none;
  }
  .product-overview-type .product-overview-list .product-introduce {
    webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0;
  }
  .product-overview-type .product-overview-list .product-introduce a {
    padding: 0;
  }
  .product-overview-type .product-overview-list .product-introduce a:hover {
    box-shadow: none;
  }
  .product-overview-type .product-overview-list .product-introduce a:hover h5 {
    text-decoration: none;
  }
  .product-overview-type .product-overview-list .product-introduce h5 {
    font-size: 14px;
    line-height: 18px;
  }
  .product-overview-type .product-overview-list .product-introduce p {
    font-size: 12px;
    line-height: 18px;
  }
  .product-overview-type .product-overview-list .product-introduce + .product-introduce {
    margin-top: 24px;
  }
}

/*# sourceMappingURL=index.css.map*/